.loading {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.news-sort {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
}

.sort-option {
  height: 1.8rem;
  width: 4rem;
  background-color: white;
  border-radius: 0.5rem;
  outline: none;
}

.list-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
