@import '../../styles/variable.scss';

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 900;
}

.dropbtn {
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  height: 30px;
  width: 30px;
  align-items: center;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dr-dropdown-content {
  border-radius: 5%;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 50;
  right: 0;

  a {
    text-decoration: none !important;
    color: black;
    padding: 12px 16px;
    //text-decoration: none;
    display: block;
  }
}

.signout-area {
  border-top: 1px solid rgba(0, 0, 0, 0.418);
}

.dr-dropdown-content p {
  padding: 12px 16px;
  background-color: $primary-color-3;
}

/* Change color of dropdown links on hover */
.dr-dropdown-content a:hover {
  background-color: $primary-color-3;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dr-dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dr-dropdown:hover .dropbtn {
  background-color: white;
}

.header-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 3px;
  margin-right: 10px;
}
