@import "../../../styles/variable.scss";
.search {
  padding: 20px;
}
.main-search-bar {
  display: flex;
  align-items: center;
}

.main-search-bar svg {
  position: absolute;
  margin-left: 20px;
  font-size: 20px;
}

.search-input {
  height: 40px;
  width: 400px;
  border: 1px solid rgb(62, 63, 61);
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3px;

  &:focus {
    outline: none;
  }
}

.search-type {
  background: #fff;
  color: black;
  outline-offset: -5px;
  font-size: 80%;
  height: 40px;
  &:focus {
    outline: none;
  }
  margin-left: 20px;
  border-radius: 0.3rem;
  text-align: center;
}
.search-type option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.clinic-list-for-search {
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.356);
  margin: auto;
  justify-content: center;
  position: absolute;
  margin-right: 120px;
  z-index: 3;
}

.listgroup-item {
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: $grey-color-3;
  }
}

.loading {
  display: flex;
  justify-content: center;
}

.search-icon {
  position: absolute;
  height: 40px;
  margin-left: 20px;
  font-size: 18px;
}
