@import "../../../styles/variable.scss";

.search {
  padding: 20px;
}

.search-icon {
  position: absolute;
  margin: 11px;
}

.main-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon-input-area {
  position: relative;
}

.search-input {
  height: 40px;
  width: 400px;
  border: 1px solid rgb(62, 63, 61);
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  align-items: center;

  &:focus {
    outline: none;
  }
}

.search-type {
  background: #fff;
  color: black;
  //outline: #ffffff solid thick;
  outline-offset: -5px;
  font-size: 80%;
  height: 40px;

  &:focus {
    outline: none;
  }

  margin-left: 20px;
  border-radius: 0.3rem;
  text-align: center;
}

.search-type option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.clinic-list-for-search {
  display: flex;
  width: 100%;
  z-index: 10;
  position: absolute;
  justify-content: center;
}

.list-group-item {
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $grey-color-3;
  }
}

.main-search-bar-list {
  width: 400px;
  margin-right: 113px;
}
