@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';
$primary-color-1: #1d90f3;
$primary-color-2: #38a3ff;
$primary-color-3: #5db1f8;

$grey-color-1: #2c2c2c;
$grey-color-2: #67696d;
$grey-color-3: #989ea7;

$custom-pagination-color-1: #e7dede71;

$huge: 1200px;
$lage: 992px;
$medium: 768px;
$small: 576px;
$tiny: 360px;
