@import '../../styles/variable.scss';
<<<<<<< HEAD
=======

>>>>>>> a23c6826f572ba19c4d09704ebf5734746a5230e
.mini-modal {
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
.mini-modal-footer{
=======
.mini-modal-footer {
>>>>>>> a23c6826f572ba19c4d09704ebf5734746a5230e
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 0.5px solid $grey-color-3;
<<<<<<< HEAD
}
=======
}
>>>>>>> a23c6826f572ba19c4d09704ebf5734746a5230e
