@import '../../styles/variable.scss';
.main-search-on-homepage {
  height: 100%;
}

.container {
  h1 {
    display: flex;
    justify-content: center;
  }
}

.clinic-list {
    margin-top:20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid $grey-color-3;
}

.seeall-link{ 
    display: flex;
    justify-content: flex-end;
    .seeall-btn {
      height: 35px;
      border-radius:.2rem;
      background-color: $primary-color-3;
      padding:5px;
      display:flex;
      align-items: center;
      border: none;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.356);
    }
    a{
      text-decoration: none !important;
    }
}

.main-search-on-homepage{
  display: flex;
  justify-content: center;
}
